.status i{
	font-size: 24px;
}

td.status{
	padding: 6px 0 0 0 !important;
}

.fa-toggle-on{
	color: #3c763d;
	cursor: pointer;
}

.fa-toggle-off{
	color: #a94442;
	cursor: pointer;
}

.fa-trash, .fa-trash-o, .fa-circle-o-notch{
	color: #000;
	cursor: pointer;
}